<div style="padding:10px">
  <!-- Even when the outlet cannot be placed at x=0 and y=0
       it still works. Because the offset is subtracted. -->
  <cloukit-dropout-outlet></cloukit-dropout-outlet>
  <!-- But if you can place the outlet at x=0 and y=0 to avoid
       possible misplacements of the dropout containers -->

  <cloukit-story title="Dropout Directions" story="story-00-dropout-directions">
    <story-00-dropout-directions></story-00-dropout-directions>
  </cloukit-story>

  <br><br>

  <cloukit-story title="Off Placed Trigger Element" story="story-01-off-placed-trigger-element">
    <story-01-off-placed-trigger-element></story-01-off-placed-trigger-element>
  </cloukit-story>

</div>
